*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
  
    background-color: black;
}

h1{
    
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
    color: lightblue;

}

.wrapper{
    display: flex;
    justify-content: space-around;
}
.title,
.image{
    text-align: center;
    font-size: 35px;
    margin-bottom: 15px;
}

img{
    height: 400px;
}



.movie{
    border-radius: 10px;
    padding: 20px 50px 5px 50px;
    background-color: lightcyan;
}

.weft,
.duration-vote,
.cast,
.director{
    padding-bottom: 2px;
    border-bottom: 1px solid black;
}

.cast,
.weft,
.release,
.duration-vote div{
    margin:10px 0px 5px 0px;
}

.director{
    margin: 20px 0px 0px 0px;
}

.cast span{
    display: inline-block;
    margin-bottom: 5px;
}


